<h2>Edit Profile <% resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password (leave blank if you don't want to change it)" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", placeholder:"password_confirmation" %>
  </div>

  <div class="field form-group">
    <br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"current_password (we need your current password to confirm your changes)" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Update", class:'btn btn-secondary' %>
  </div>
<% end %>
<br/>
<div class="card">
  <div class="card-body">
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %></p>
  </div>
</div>
<br/>
<%= link_to "Back", :back %>